<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Dolmen Lexer Editor"
            extensions="jl"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="dolmenplugin.editors.jl.JLEditor"
            id="dolmenplugin.editors.JLEditor">
      </editor>
   </extension>

</plugin>
