<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Editor extension for .jl lexer descriptions -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Dolmen Lexer Editor"
            extensions="jl"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="dolmenplugin.editors.jl.JLEditor"
            id="dolmenplugin.editors.jl.JLEditor">
      </editor>
   </extension>

   <!-- Editor extension for .jg grammar descriptions -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Dolmen Grammar Editor"
            extensions="jg"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="dolmenplugin.editors.jg.JGEditor"
            id="dolmenplugin.editors.jg.JGEditor">
      </editor>
   </extension>

   <!-- Builder extension for .jl lexer and .jg grammar descriptions -->
   <extension point="org.eclipse.core.resources.builders"
         name="Dolmen Lexer and Grammar Builder"
         id="dolmenplugin.base.Builder">
      <builder
            hasNature="true">
         <run
          class="dolmenplugin.base.Builder">
         </run>
      </builder>
   </extension>
   
   <!-- Marker extension for Dolmen files -->
   <extension
         id="dolmenplugin.base.marker"
         name="Dolmen problems"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>

   <!-- Nature extension for project containing Dolmen files -->
   <extension point="org.eclipse.core.resources.natures"
         name="Dolmen Nature"
         id="DolmenNature" >
      <runtime>
         <run
          class="dolmenplugin.base.Nature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <builder
            id="dolmenplugin.base.Builder">
      </builder>
   </extension>
   
   <!-- Expression checking the Dolmen nature of one project -->
   <!-- NB: Even when selecting only a single projects, it seems the
   		default variable received from the Package Explorer is an array
   		of IProject, so we need to be careful and iterate on the selection.
   		Conversely, if the Navigator or Project Explorer sends the IProject
   		as is, can it be adapted to a singleton iterable? I hope so... -->
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="DolmenPlugin.hasNature">
         <adapt
               type="org.eclipse.core.resources.IResource">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="DolmenPlugin.DolmenNature">
            </test>
         </adapt>
      </definition>
   </extension>
   
   <!-- Declaration of the commands to add and remove the Dolmen nature -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Use this command to add the Dolmen nature to the selected project"
            id="dolmenplugin.ConvertDolmenNatureCommand"
            name="Convert to Dolmen Project">
      </command>
      <command
            description="Use this command to remove the Dolmen nature from the selected project"
            id="dolmenplugin.RemoveDolmenNatureCommand"
            name="Remove Dolmen nature">
      </command>
   </extension>
   
   <!-- Handler for the commands to add and remove the Dolmen nature -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="dolmenplugin.handlers.ConvertDolmenNatureHandler"
            commandId="dolmenplugin.ConvertDolmenNatureCommand">
      </handler>
      <handler
            class="dolmenplugin.handlers.RemoveDolmenNatureHandler"
            commandId="dolmenplugin.RemoveDolmenNatureCommand">
      </handler>
   </extension>
   
   <!-- Menu contribution to the Project -> Configure -> -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="dolmenplugin.ConvertDolmenNatureCommand"
               label="Add Dolmen nature"
               style="push">
         	<!-- Only visible when ALL selected projects are missing the Dolmen nature -->
            <visibleWhen
                  checkEnabled="false">
               <iterate ifEmpty="false">
               	<not>
               	  <reference
                        definitionId="DolmenPlugin.hasNature">
               	  </reference>
               	</not>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="dolmenplugin.RemoveDolmenNatureCommand"
               label="Remove Dolmen nature"
               style="push">
             <!-- Only visible when ALL selected projects have the Dolmen nature -->
             <visibleWhen checkEnabled="false">
               <iterate ifEmpty="false">
               	  <reference
                        definitionId="DolmenPlugin.hasNature">
               	  </reference>
               </iterate>
             </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <!-- Defining a decorator for project with the Dolmen nature -->
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/sample.gif"
            id="DolmenPlugin.DolmenNatureImage"
            natureId="DolmenPlugin.DolmenNature">
      </image>
   </extension>
   
   <!-- Default annotation model for Dolmen markers -->
   <extension
        point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
         extensions="jg,jl"
         class="org.eclipse.ui.texteditor.ResourceMarkerAnnotationModelFactory">
      </factory>
   </extension>
   
   <!-- Custom console for reporting Dolmen builders activity -->
   <extension
      point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
         class="dolmenplugin.base.Console"
         icon="icons/sample.gif"
         label="Dolmen Console">
      </consoleFactory>
   </extension>
   
   <!-- Declaration of the commands that appear in the Source menu -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Comment or uncomment the lines of the current selection"
            id="dolmenplugin.ToggleCommentCommand"
            name="Toggle  Comment">
      </command>
   </extension>
   
   <!-- Handler for the commands that appear in the custom Source menu-->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="dolmenplugin.handlers.ToggleCommentHandler"
            commandId="dolmenplugin.ToggleCommentCommand">
      </handler>
   </extension>
   
   <!-- Custom source menus for .jl and .jg editors -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
         locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
            label="Source"
            id="dolmenplugin.menus.source">
            
            <!-- Only visible when the active editor is either a JLEditor or a JGEditor -->
            <visibleWhen
                checkEnabled="false">
                <with variable="activeEditorId">
                    <or>
                        <equals value="dolmenplugin.editors.jl.JLEditor"/>
                        <equals value="dolmenplugin.editors.jg.JGEditor"/>
                    </or>
                </with>
            </visibleWhen>
            
            <!-- The Toggle Comment command -->
            <command
               commandId="dolmenplugin.ToggleCommentCommand"
               label="Toggle Comment">
            </command>
         </menu>
      </menuContribution>
   </extension>

   <!-- Keyboard shortcuts for some of the Dolmen commands -->   
   <extension
         point="org.eclipse.ui.bindings">
      <!-- Toggle Comment is bound to "Ctrl + /", as in Java -->
      <key
        sequence="M1+/"
        commandId="dolmenplugin.ToggleCommentCommand"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   <!-- Document setup participants for Dolmen files
        NB: These are necessary in order to connect the adequate partitioners
            and use TextFileDocumentProviders because TextFileDocumentProvider
            does not have an overridable #createDocument like FileDocumentProvider
            has
     -->
   <extension
         id="JLDocumentSetupParticipant"
         name="Dolmen lexer descriptions setup participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
         extensions="jl"
         class="dolmenplugin.editors.jl.JLDocumentSetupParticipant">
      </participant>
   </extension>
   <extension
         id="JGDocumentSetupParticipant"
         name="Dolmen grammar descriptions setup participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
         extensions="jg"
         class="dolmenplugin.editors.jg.JGDocumentSetupParticipant">
      </participant>
   </extension>
   <!-- <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
         class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
         inputTypes="org.eclipse.ui.IStorageEditorInput"
         id="org.eclipse.ui.editors.text.StorageDocumentProvider">
      </provider>
   </extension> -->
      
</plugin>
